[uwsgi]
chdir = /PATH
virtualenv = env
env = DJANGO_SETTINGS_MODULE=logman_show.settings
module = django.core.handlers.wsgi:WSGIHandler()
socket = 127.0.0.1:9021
listen = 1024
max-requests = 10000
reload-on-as = 128
master = true
processes = 1
enable-threads = true
buffer-size = 32768
daemonize = run/uwsgi.log
pidfile = run/uwsgi.pid

