{deps, [
  {erlzmq, ".*",
    {git, "https://github.com/zeromq/erlzmq2.git", {branch, "master"}}
  },
  {msgpack, ".*",
    {git, "https://github.com/msgpack/msgpack-erlang.git", {branch, "master"}}
  },
  {emysql, "0.4.1",
    {git, "https://github.com/Eonblast/Emysql.git", {tag, "0.4.1"}}
  }
]}.

{erl_opts, []}.

